body {
  background-image: url('https://img.freepik.com/free-photo/texture-old-faded-vintage-paper-beige-retro-background-grunge-paper-with-spots-streaks_213524-157.jpg?size=626&ext=jpg');
  background-size: 550.5678%;
  text-align: center;
}

p,h3,h4{
   font-size: 30px;
    text-align: center;
    font-family: 'Pacifico', cursive;
      
}

h3{
	background-color:DodgerBlue;
}

h4{
	background-color:rgb(0, 191, 255) ;
}
img{
    border:15px  solid black;
}
.cool{
 background-color: bisque;
}
.bool{
 background-color: rgba(184, 205, 212, 50)
;
}